<section class="secondary-content">
    <div class="container">
        <!-- <ul class="breadcrumbs">
            <li>
                <a href="my-events.html">
                    Manage Events
                </a>
            </li>
            <li>
                Organized Events
            </li>
        </ul> -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="line">
                    Following
                </h3>

                <div class="grid-container row">

                    <div class="col-sm-4 margin-vertical">
                        <div class="c-content-product-2 c-bg-white c-border event-category two-liner">
                            <div class="c-content-overlay" routerLink="follows">
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 250px; background-image: linear-gradient( rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.56) ), url(../../../assets/images/events/authentic_network_marketing.jpg);">
                                    <h3><span class="fa fa-pencil"></span> Following</h3>
                                    <h3 [hidden]="!followsSet">{{ follows.length }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 margin-vertical">
                        <div class="c-content-product-2 c-bg-white c-border event-category two-liner">
                            <div class="c-content-overlay" routerLink="followers">
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 250px; background-image: linear-gradient( rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.56) ), url(../../../assets/images/categories/retreatsbootcamps.jpg);">
                                    <h3><span class="fa fa-user"></span>Followers</h3>
                                    <h3 [hidden]="!followersSet">{{ followers.length }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 margin-vertical">
                        <div class="c-content-product-2 c-bg-white c-border event-category two-liner">
                            <div class="c-content-overlay" routerLink="discover">
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 250px; background-image: linear-gradient( rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.56) ), url(../../../assets/images/categories/personal_development.jpg);">
                                    <h3><span class="fa fa-users"></span> Discover</h3>
                                    <h3 [hidden]="true">0</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="display:none;">

                    <div class="row c-margin-b-40 c-order-history-2">
                        <div class="row c-cart-table-title">
                            <div class="col-md-2 c-cart-image">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2"></h3>
                            </div>
                            <div class="col-md-2 c-cart-ref">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Date</h3>
                            </div>
                            <div class="col-md-3 c-cart-desc">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Description</h3>
                            </div>
                            <div class="col-md-2 c-cart-price">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Promoters</h3>
                            </div>
                            <div class="col-md-3 c-cart-total">
                                <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Registrations</h3>
                            </div>
                        </div>
                        <!-- BEGIN: ORDER HISTORY ITEM ROW -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 1</h2>
                            <div class="col-md-2 col-sm-3 col-sm-5 c-cart-image">
                                <img src="../../../assets/images/events/intro_class.jpg"> </div>
                            <div class="col-md-2 col-sm-3 col-sm-6 c-cart-ref">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Date</p>
                                <p>5 Feb 2016</p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-sm-6 c-cart-desc">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Description</p>
                                <p class="c-price c-font-12 c-font-slim">March 15, 2016 | 7:00PM - 8:00PM</p>
                                <p class="c-title c-font-16 c-font-bold c-font-uppercase"><a href="event-detail.html">Intro to Essential Oils</a></p>
                                <p class="c-price c-font-14 c-font-slim">New York City, NY</p>
                            </div>
                            <div class="clearfix col-md-2 col-sm-3 col-sm-6 c-cart-price">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Promoters</p>
                                <p class="c-cart-price c-font-bold">10</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-sm-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Registrations</p>
                                <p class="c-cart-price c-font-bold">23</p>
                            </div>

                        </div>
                        <!-- END: ORDER HISTORY ITEM ROW -->
                        <!-- BEGIN: ORDER HISTORY ITEM ROW -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title">Item 2</h2>
                            <div class="col-md-2 col-sm-3 col-sm-5 c-cart-image">
                                <img src="../../../assets/images/events/essential_yoga.jpg"> </div>
                            <div class="col-md-2 col-sm-3 col-sm-6 c-cart-ref">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Date</p>
                                <p>5 Mar 2016</p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-sm-6 c-cart-desc">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Description</p>
                                <p class="c-price c-font-12 c-font-slim">March 1, 2016 | 6:30PM - 8:00PM</p>
                                <p class="c-title c-font-16 c-font-bold c-font-uppercase"><a href="event-detail.html">Essential Yoga</a></p>
                                <p class="c-price c-font-14 c-font-slim">Springfield, IL</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-sm-6 c-cart-price">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Promoters</p>
                                <p class="c-cart-price c-font-bold">45</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-sm-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Registrations</p>
                                <p class="c-cart-price c-font-bold">68</p>
                            </div>
                        </div>
                        <!-- END: ORDER HISTORY ITEM ROW -->
                        <!-- BEGIN: ORDER HISTORY ITEM ROW -->
                        <div class="row c-cart-table-row">
                            <h2 class="c-font-uppercase c-font-bold c-theme-bg c-font-white c-cart-item-title c-cart-item-first">Item 3</h2>
                            <div class="col-md-2 col-sm-3 col-sm-5 c-cart-image">
                                <img src="../../../assets/images/events/authentic_network_marketing.jpg"> </div>
                            <div class="col-md-2 col-sm-3 col-sm-6 c-cart-ref">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Date</p>
                                <p>7 Apr 2016</p>
                            </div>
                            <div class="col-md-3 col-sm-6 col-sm-6 c-cart-desc">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Description</p>
                                <p class="c-price c-font-12 c-font-slim">February 29, 2016 | 6:00PM - 7:00PM</p>
                                <p class="c-title c-font-16 c-font-bold c-font-uppercase"><a href="event-detail.html">Authentic Network Marketing</a></p>
                                <p class="c-price c-font-14 c-font-slim">Business Opportunity Online</p>
                            </div>
                            <div class="col-md-2 col-sm-3 col-sm-6 c-cart-price">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Promoters</p>
                                <p class="c-cart-price c-font-bold">8</p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-sm-6 c-cart-total">
                                <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Registrations</p>
                                <p class="c-cart-price c-font-bold">5</p>
                            </div>
                        </div>
                        <!-- END: ORDER HISTORY ITEM ROW -->
                    </div>
                </div>
            </div>
        </div>

    </div><!-- .container -->

</section>
