.promoters{
  background-color:#f7f7f7;
  padding:15px;
}

.promoters ul, .promoters li{
  padding:0;
  margin:0;
  list-style:none;
}

.registration-view h4{
  margin-top:60px;
}

.border-panel{
  border:1px solid #000;
  margin-top: 25px;
  padding: 25px;
}

agm-map {
  height: 300px;
  width:100%;
}