<h3 class="line">Reset Password</h3>

<div *ngIf="codeVerified">
    <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)" *ngIf="!passwordReset">
        <div [ngClass]="{'form-group': true }">
            <h5>Reset password for <i>{{ email }}</i></h5>
            <label>
                New Password
            </label>
            <input
                    class="form-control"
                    type="password"
                    ngModel="password"
                    name="password"
                    #password="ngModel"
                    required
                    pattern="^(?=.*[0-9])(?=.*[a-z]).{8,}">

            <div *ngIf="password.errors && (password.touched || password.dirty)" class="validation-error-text">
                Password must have at least 8 characters, a letter and a number.
            </div>

        </div>
        <div [ngClass]="{'form-group': true }">
            <label>
                Confirm New Password
            </label>
            <input
                    (focus)="confirmFocus()"
                    (blur)="confirmBlur()"
                    ngModel="confirm"
                    name="confirm"
                    class="form-control"
                    type="password"
                    #confirm="ngModel"
                    required>
            <div *ngIf="confirm.errors && (confirm.touched || confirm.dirty)" class="validation-error-text">
                Confirm Password is required.
            </div>

        </div>

        <div class="error-text login-error" *ngIf="showErr">
            Passwords do not match
        </div>

        <div *ngIf="passwordResetError">
            <h4 class="validation-error-text">
                There was an error resetting your password, please try again
            </h4>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>

    </form>

    <div *ngIf="passwordReset">
        <h4>Congratulations, your password has been reset!  <a (click)="appService.openLogin()">Login</a></h4>
    </div>



</div>

<div *ngIf="!codeVerified && codeChecked">
    <h4>Your code is no longer valid, please try reset password again</h4>
</div>