<div class="row" *ngIf="createService.draftSet">

    <div class="col-md-12">
        <h4 class="round-heading" style="margin-top:20px;"><span>1</span> Basic Information</h4>
    </div>

    <div class="col-md-12">
        <div class="form-group padding-vertical-sm" style="padding-bottom:0px;">
            <event-title></event-title>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <event-date></event-date>
        </div>
    </div>

    <div class="col-md-4 col-lg-3">
        <event-type></event-type>
    </div>
    <div class="col-md-8 col-lg-9">
        <google-location></google-location>
    </div>

    <div class="col-md-12">
        <div class="padding-vertical">
            <event-image></event-image>
        </div>
    </div>

    <div class="col-md-12">
        <event-description></event-description>
    </div>

    <div class="col-md-12">
        <h4 class="round-heading"><span>2</span> Event Settings</h4>
    </div>

    <div class="col-md-12">
        <event-settings></event-settings>
    </div>

    <div class="col-md-12">
        <h4 class="round-heading"><span>3</span> Manage Tickets</h4>
    </div>

    <div class="col-md-12">
        <event-tickets></event-tickets>
    </div>

    <div class="col-md-12">
        <div class="padding-vertical" style="padding-top:120px;">
            <event-controls></event-controls>
        </div>
    </div>


</div>
