<table class="table table-striped" style="margin-top: 15px;" *ngIf="ticketLength">
    <thead>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-7">
                        Ticket Title
                    </div>
                    <div class="col-sm-2">
                        Quantity
                    </div>
                    <div class="col-sm-3">
                        Price
                    </div>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of createTicketService.ticketList$ | async" event-ticket [ticketKey]="ticket.$key"></tr>
    </tbody>
</table>

<div style="margin-top: 25px;">
    <button (click)="addTicket('free')" class="btn btn-primary" style="margin-right: 15px;">
        Add Free Ticket
        <i class="fa fa-plus-square-0"></i>
    </button>
</div>