.event-category .c-content-overlay h3{
  font-size:1.8rem;
}

.event-category.c-content-product-2 .c-btn-product.btn-sm, .event-category.c-content-product-2 .btn-group-sm>.c-btn-product.btn{
  font-size:1rem;
}

.upcoming-group{
  /*TEMPORARY UNTIL WORKING TODO ADD IN UPCOMING AND THIS WEEK*/
  display:none;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  min-width: 120px;
  text-align: center;
}

.light-bottom-border{
  border-bottom: 1px solid #eaeaea;
}
