<h3 class="second-tier">Edit Confirmation Page</h3>

<div class="block-info padding-vertical">
    Add useful information and special instructions that show once a user has registered for tickets on your event.  These instructions show on the view directly after purchase/registration.
</div>

<div>
    <label>Custom Confirmation Page Message</label>
    <div id="toolbar"></div>
    <div id="editor" style="min-height: 230px;"></div>
</div>

<div class="padding-vertical">
    <button class="btn btn-primary btn-lg" (click)="save()">Save</button>
</div>





