<div ngbModalContainer>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" style="margin:10px 15px;"><span aria-hidden="true">×</span></button>
        <div>
            <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
                <div [ngClass]="{'form-group': true }">
                    <h3 class="line">Forgotten Password</h3>
                    <label>
                        Email
                    </label>
                    <input 
                        class="form-control" 
                        type="email" 
                        ngModel="" 
                        name="email" 
                        #email="ngModel" 
                        required                    
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>
                <div *ngIf="email.errors && (email.touched || email.dirty)" class="validation-error-text">
                    Valid email is required.
                </div>

                <div>
                </div>
                <div class="login-btn-wrapper">
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                </div>
                <!-- <hr />
                <button class="btn btn-default btn-block" (click)="signInWithGoogle()"><i class="fa fa-google-plus-square"></i> Sign in with Google</button>
                -->
                <hr /> Login <a (click)="login()">login</a>
            </form>
        </div>
    </div>
</div>