<h3 class="line" style="margin-bottom: 0px;">
    {{ eventService.event.title }} - Send Email
</h3>

<div class="row">
    <div class="col-md-12">
        <label>
            Reply-to Email
        </label>
        <div>
            <input class="form-control" [(ngModel)]="replyToEmail" />
        </div>
    </div>
</div>

<div class="row padding-vertical">
    <div class="col-md-4">
        <label>
            To:
        </label>
        <select class="form-control" [(ngModel)]="listGroup">
            <option value="all">
                Everyone ({{allEmails.length}})
            </option>
            <option value="all_attendees">
                All Attendees ({{attendeeEmails.length}})
            </option>
            <option value="all_promoters">
                All Promoters ({{promoterEmails.length}})
            </option>
            <option value="attendees_by_registration_type">
                Attendees by Registration Type
            </option>
        </select>
    </div>
    <div class="col-md-4" *ngIf="listGroup == 'attendees_by_registration_type'">
        <label>
            Registration Type:
        </label>
        <select class="form-control" [(ngModel)]="regType">
            <option value="{{regType.$key}}" *ngFor="let regType of eventService.eventTickets$ | async">
                {{ regType.ticketTitle}} ({{registrationTypeAttendees.get(regType.$key)?registrationTypeAttendees.get(regType.$key).length:0}})
            </option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12" {{!fieldValidations.get( 'subject'.valid? 'has-error': '')}}>
        <label>
            Subject
        </label>
        <div>
            <input class="form-control" [(ngModel)]="subject" />
            <div *ngIf="!fieldValidations.get('subject').valid" class="validation-error-text">
                {{fieldValidations.get('subject').errorMessage}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 {{!fieldValidations.get('body').valid?'has-error':''}}">
        <label>
            Body
        </label>
        <div>
            <div id="toolbar"></div>
            <div id="message" style="min-height:150px;"></div>
            <div *ngIf="!fieldValidations.get('body').valid" class="validation-error-text">
                {{fieldValidations.get("body").errorMessage}}
            </div>
        </div>
    </div>
</div>

<div class="row padding-vertical">
    <div class="col-md-9">
        <label>
            Send Test Email
        </label>
        <div>
            <input class="form-control" [(ngModel)]="testEmail" />
        </div>
    </div>
    <div class="col-md-3">
        <br />
        <button class="btn btn-primary btn-block" (click)="sendTestEmail()">Send</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg" (click)="sendEmail()">Send Now</button> &nbsp;
        <!-- <button class="btn btn-outline-primary btn-lg">Save as Draft</button> &nbsp;  -->
        <button class="btn btn-default btn-lg" (click)="cancel()">Cancel</button> &nbsp;
    </div>
</div>