<header class="header">
    <div class="container">
        <div class="logo">
            <a href="../../../index.html">
                <img src="../../../assets/images/home/oevent_logo.png" alt="" width="200px;" />
            </a>
        </div>
        <div class="header-caption">
            <h3 style="text-transform: none;text-shadow: 2px 2px #666;">dōTERRA EVENTS
                <br/> MADE BETTER</h3>
            <a class="pre-register" href="http://register.oevent.com/register">pre-register Now!</a>
        </div>
    </div>
</header>

<section class="what-can-i-do">
    <div class="container">
        <h2>
            <span>In Your Living Room Or At The Convention Center,
                <br/>Your Best Event Ever Is Right Here.</span>
        </h2>

        <ul class="cando-ul">
            <li>
                <div class="do-box">
                    <i class="">
                        <img src="../../../assets/images/home/icon-04.png" alt="" />
                    </i>
                    <h3>
                        <a href="">Organize</a>
                    </h3>
                    <p>Unleash your creativity by
                        <br/>using ōEvent’s robust
                        <br/>management tools</p>
                </div>
            </li>
            <li>
                <div class="do-box">
                    <i class="">
                        <img src="../../../assets/images/home/icon-05.png" alt="" />
                    </i>
                    <h3>
                        <a href="">Promote</a>
                    </h3>
                    <p>Reach your audience
                        <br/> and easily keep in touch
                        <br/> with updates and follow up</p>
                </div>
            </li>
            <li>
                <div class="do-box">
                    <i class="">
                        <img src="../../../assets/images/home/icon-06.png" alt="" />
                    </i>
                    <h3>
                        <a href="">Register</a>
                    </h3>
                    <p>Find the right event for you
                        <br/> and sign up quickly
                        <br/>with easy registration</p>
                </div>
            </li>
            <li>
                <div class="do-box">
                    <i class="">
                        <img src="../../../assets/images/home/icon-07.png" alt="" />
                    </i>
                    <h3>
                        <a href="">network</a>
                    </h3>
                    <p>Connect with the dōTERRA
                        <br/> community by following influential
                        <br/> organizers and promoters</p>
                </div>
            </li>
        </ul>


    </div>

</section>

<section class="powerfull-tools bg-sction">
    <div class="container">
        <h2 style="text-shadow: 2px 2px #333;">create your most
            <br/>successful event yet</h2>
    </div>
</section>

<section class="three-box">
    <div class="container">
        <ul class="three-box-ul">
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/icon-01.png" alt="" />
                    </i>
                    <h2>SPEND LESS TIME FUSSING & MORE TIME PROMOTING</h2>
                    <p>Quickly create an event in 3 easy steps then get the word out with powerful tools built right into ōEvent.</p>
                </div>
            </li>
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/icon-02.png" alt="" />
                    </i>
                    <h2>CAPTURE YOUR AUDIENCE</h2>
                    <p> Easily communicate with your promoters and attendees with our built-in email and social media tools.
                        Schedule your posts to go out exactly when you want.</p>
                </div>
            </li>
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/icon-03.png" alt="" />
                    </i>
                    <h2>SEE YOUR STATS AT A GLANCE</h2>
                    <p>ōEvent’s beautiful dashboard gives you a quick view of sales, attendee lists, promoter performance, and
                        other important data so you can manage like a pro.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="influence-bg bg-sction">
    <div class="container">
        <h2 style="text-shadow: 2px 2px #333;">build influence
            <br/>with your ōcode</h2>
        <a href="">Reserve your ōcode</a>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <ul class="benefits-ul">
            <li>
                <div class="benefits-div">
                    <i class="">
                        <img src="../../../assets/images/home/benefits-01.jpg" alt="" />
                    </i>
                    <h2>ōcode: uniquely yours</h2>
                    <p>Event promoters and organizers get a unique ōCode which helps them track their influence and connect
                        with their audience.</p>
                </div>
            </li>
            <li>
                <div class="benefits-div">
                    <i class="">
                        <img src="../../../assets/images/home/benefits-02.jpg" alt="" />
                    </i>
                    <h2>Promoter’s toolbox</h2>
                    <p id="whiteText">Get people excited about your event and stay in touch after it’s over with powerful tools for promoters.</p>
                </div>
            </li>
            <li>
                <div class="benefits-div">
                    <i class="">
                        <img src="../../../assets/images/home/benefits-03.jpg" alt="" />
                    </i>
                    <h2>Personalized profile</h2>
                    <p>Build your brand with ōEvent’s personal profile pages. Show them who you are and what you have coming
                        up.</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="word-event bg-sction">
    <div class="container">
        <h2 style="text-shadow: 2px 2px #333;">create the best experience
            <br/>for your attendees</h2>
    </div>
</section>

<section class="three-box">
    <div class="container">
        <ul class="three-box-ul">
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/user-01.jpg" alt="" />
                    </i>
                    <h2>FOCUSED SEARCHING</h2>
                    <p>Advanced search tools help you find the best event for you, choosing from thousands of dōTERRA events
                        worldwide.</p>
                </div>
            </li>
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/user-02.jpg" alt="" />
                    </i>
                    <h2>BETTER CONNECTIONS</h2>
                    <p>Follow your favorite promoters and keep in touch with other attendees on Facebook so you’re aways in
                        the loop.</p>
                </div>
            </li>
            <li>
                <div class="three-box-inr">
                    <i>
                        <img src="../../../assets/images/home/user-03.jpg" alt="" />
                    </i>
                    <h2>EASY MANAGEMENT</h2>
                    <p>Keep track of your upcoming events with event details and contact info at your fingertips.</p>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="diffrent-maker bg-sction">
    <div class="container">
        <h2 style="text-transform: none;text-shadow: 2px 2px #333;">TAKE YOUR dōTERRA
            <br/> EVENTS TO THE NEXT LEVEL</h2>
        <a href="">Get started</a>
    </div>
</section>